body{
    background: url("bg-desktop-light.jpg");
    background-repeat: no-repeat;
}
.container{
    width: 60%;
    margin: 20px auto;
   
}
.header{
justify-content: space-between;
display: flex;
}
.header .moon{
    float: right;
    padding-top: 30px;
    margin-right: 350px;
}
.item1{
    border-radius: 5px;
    background: whitesmoke;
    padding: 5px;
    width: 300px;
    height: 25px;
    align-items: center;
    align-content: center;
    display: flex;
}

.item2 ul li:before{
    width: 50px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}
.item2{
    background: whitesmoke;
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    
}

.item2 li{
    list-style-type: circle;
    padding: 10px;
    
}
.item3{
    display: flex;
    border-bottom: 1px solid grey;
}

.footer{
    display: flex;
      padding:10px;
    
}
.input-form{
    border: none;

}
.footer button{
    border: none;
    background: white;
}
.cross{
    margin-left: auto;
}
.item1 button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media (max-width:600px){
    .container{
        width: 90%;
        margin: 20px auto;
        
    }
    .item3 {
        display: flex;
        border-bottom: 1px solid gray;
    }
    .header .moon{
        float: right;
        padding-top: 30px;
        margin-right: 50px;
    }
    
    .footer{
        display: flex;
          justify-content: space-around;
          border: 2px;
          width: 400px;
    }
    /* .item4{
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        border-radius: 5px;
        padding: 10px;
        border:2px solid white ;
        background: whitesmoke;
    } */
}